---
- block:
  - name: Install Chocolatey package
    win_chocolatey:
      name: chocolatey
      state: present

  - name: Install "Temurin{{ java_version | default('21') }}"
    win_chocolatey:
      name:
      - "Temurin{{ java_version | default('21') }}"
      state: present
      # install_args: "INSTALLDIR='{{ java_install_dir | default('c:\\java') }}'"
      choco_args: '-f -y'
      install_args: "INSTALLDIR={{ java_install_dir | default('c:\\java') }}"

  - name: Set JAVA_HOME environment variable
    win_environment:
      name: JAVA_HOME
      value: "{{ java_install_dir | default('c:\\java') }}"
      level: machine

  - name: Set java_home fact
    set_fact:
      java_home: "{{ java_install_dir | default('c:\\java') }}"


  - name: Add Java to PATH
    win_path:
      elements:
        - "{{ java_home }}/bin"

  - name: Verify Java installation
    win_command: "{{ java_home | default('c:/java') }}/bin/java.exe -version"
    register: java_version_output
    changed_when: false

  - name: Assert Java is installed correctly
    assert:
      that:
        - java_version_output.rc == 0
        - "'openjdk version' in java_version_output.stderr or 'openjdk version' in java_version_output.stdout"
      fail_msg: "Java installation verification failed"
      success_msg: "Java {{ java_version | default('21') }} installed successfully at {{ java_home }}"

  become: no
