---
# tasks file for ansible-java
- name: install required packages
  apt:
    name:
    - curl
    - unzip
    - apt-transport-https
    - gpg
    state: present

- name: check if java presents
  stat: path=/usr/bin/java
  register: java_present

- name: Add Adoptium repository
  block:
    - name: Install Adoptium GPG key
      ansible.builtin.shell: |
        set -eu
        wget -qO - https://packages.adoptium.net/artifactory/api/gpg/key/public \
          | gpg --dearmor \
          | tee /etc/apt/trusted.gpg.d/adoptium.gpg >/dev/null
      args:
        creates: /etc/apt/trusted.gpg.d/adoptium.gpg
    - name: add the Adoptium apt repository
      apt_repository:
        repo: "deb https://packages.adoptium.net/artifactory/deb {{ ansible_facts['distribution_release'] }} main"
        state: present
  when: not java_present.stat.exists

- name: install adoptium java
  apt:
    update-cache: yes
    force: yes
    state: present
    pkg: "temurin-{{ jdk_release }}-jdk"
  when: not java_present.stat.exists

- name: get java_home variable
  shell: >
    cat /etc/profile.d/jdk.sh | sed -nE 's/export JAVA_HOME=(.*)$/\1/p'
  register: java

- name: create JAVA_HOME facts
  set_fact:
    oracle_java_home: "{{ java.stdout }}"

- name: deploy an update .bashrc to root
  copy:
    src: files/bashrc
    dest: /root/.bashrc
    backup: yes
    owner: root
    group: root
    mode: "u=rwx,g=r,o=r"
