---
- name: install required packages
  apt:
    name:
    - apt-transport-https
    state: present

- name: check if java presents
  stat: path=/usr/bin/java
  register: java_present

- name: Add Adoptium repository
  block:
    - name: Install Adoptium GPG key
      ansible.builtin.shell: |
        set -eu
        wget -qO - https://packages.adoptium.net/artifactory/api/gpg/key/public \
          | gpg --dearmor \
          | tee /etc/apt/trusted.gpg.d/adoptium.gpg >/dev/null
      args:
        creates: /etc/apt/trusted.gpg.d/adoptium.gpg
    - name: add the Adoptium apt repository
      apt_repository:
        repo: "deb https://packages.adoptium.net/artifactory/deb {{ ansible_facts['distribution_release'] }} main"
        state: present
  when: not java_present.stat.exists

