---
# tasks file for ansible-java
- name: install required packages
  apt:
    name:
    - curl
    - unzip
    - apt-transport-https
    - gpg
    state: present

- name: check if it is present
  stat: path=/usr/bin/java
  register: java_present

- name: add apt repository
  apt_repository: repo='ppa:webupd8team/java' state=present

- name: accept Oracle license before an installation
  shell: echo "oracle-java{{ oracle_java_version }}-installer shared/accepted-oracle-license-v1-1 select true" | /usr/bin/debconf-set-selections
  when: not java_present.stat.exists

- name: install
  apt:
    update-cache: yes
    force: yes
    state: present
    pkg: "oracle-java{{ oracle_java_version }}-installer"
  when: not java_present.stat.exists

- name: get java_home variable
  shell: >
    cat /etc/profile.d/jdk.sh | sed -nE 's/export JAVA_HOME=(.*)$/\1/p'
  register: java

- name: create JAVA_HOME facts
  set_fact:
    oracle_java_home: "{{ java.stdout }}"

- name: deploy an update .bashrc to root
  copy:
    src: files/bashrc
    dest: /root/.bashrc
    backup: yes
    owner: root
    group: root
    mode: "u=rwx,g=r,o=r"
