---
# tasks file for ansible-java
- name: install required packages
  apt:
    name:
    - apt-transport-https
    state: present

- name: check if java presents
  stat: path=/usr/bin/java
  register: java_present

- name: Add Adoptium repository
  block:
    - name: Install Adoptium GPG key
      ansible.builtin.shell: |
        set -eu
        wget -qO - https://packages.adoptium.net/artifactory/api/gpg/key/public \
          | gpg --dearmor \
          | tee /etc/apt/trusted.gpg.d/adoptium.gpg >/dev/null
      args:
        creates: /etc/apt/trusted.gpg.d/adoptium.gpg
    - name: add the Adoptium apt repository
      apt_repository:
        repo: "deb https://packages.adoptium.net/artifactory/deb {{ ansible_facts['distribution_release'] }} main"
        state: present
  when: not java_present.stat.exists

- name: install adoptium java
  apt:
    update-cache: yes
    force: yes
    state: present
    pkg: "temurin-{{ jdk_release }}-jdk"
  when: not java_present.stat.exists

- name: Get JAVA_HOME from javac
  shell: >
    dirname "$(dirname "$(readlink -f "$(command -v javac)")")"
  register: java_home
  changed_when: false

- name: set JAVA_HOME variable
  ansible.builtin.copy:
    dest: /etc/profile.d/java.sh
    mode: '0644'
    content: |
      export JAVA_HOME={{ java_home.stdout }}
      export PATH=$JAVA_HOME/bin:$PATH
  when: java_home.stdout != ""

- name: set JAVA_HOME fact
  set_fact:
    java_home: "{{ java_home.stdout }}"
  when: java_home.stdout != ""
