---
- name: create jce path
  set_fact:
    jce_location: "{{ oracle_jce_home }}-{{ oracle_java_version }}"

- name: create jce home
  file:
    path: "{{ jce_location }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: download oracle_jce
  command: curl -L -H 'Cookie:oraclelicense=accept-securebackup-cookie' -o /tmp/jce-{{ oracle_java_version }}.zip {{ oracle_jce_url }}
  args:
    creates: /tmp/jce-{{ oracle_java_version }}.zip
  when: oracle_java_version == "8"

- name: download oracle_jce 7
  command: curl -L -H 'Cookie:oraclelicense=accept-securebackup-cookie' -o /tmp/jce-{{ oracle_java_version }}.zip {{ oracle_jce7_url }}
  args:
    creates: /tmp/jce-{{ oracle_java_version }}.zip
  when: oracle_java_version == "7"

- name: extract jce zip file
  command: unzip -j /tmp/jce-{{ oracle_java_version }}.zip -d {{ jce_location }}
  args:
    creates: "{{ jce_location }}/local_policy.jar"

- name: set jar file permissions
  file:
    path: "{{ jce_location }}/{{ item }}"
    state: file
    mode: "0755"
  with_items:
    - local_policy.jar
    - US_export_policy.jar

- name: create symlinks to jce files
  file:
    src: "{{ jce_location }}/{{ item }}"
    dest: "{{ ansible_env.JAVA_HOME }}/jre/lib/security/{{ item }}"
    force: yes
    state: link
  with_items:
    - local_policy.jar
    - US_export_policy.jar

# - name: check if jce is enabled
#   shell: >
#     {{ ansible_env.JAVA_HOME }}/bin/jrunscript -e 'print (javax.crypto.Cipher.getMaxAllowedKeyLength("RC5") >= 256);'
#   register: jce
#
# - name: set a jce fact
#   set_fact:
#     jce_enabled: "{{ jce.stdout }}"
#
# - assert:
#     that:
#       - "jce_enable == true"
