---
- name: create jce path
  set_fact:
    jce_location: "{{ oracle_jce_home }}-{{ oracle_java_version }}"

- name: create jce home
  file:
    path: "{{ jce_location }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: download oracle_jce {{ oracle_java_version }}
  command: curl -L -H 'Cookie:oraclelicense=accept-securebackup-cookie' -o {{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip {{ oracle_jce_url }}
  args:
    creates: "{{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip"
  when: oracle_java_version == 8
  notify: lnx_download_jar

- name: download oracle_jce 7
  command: curl -L -H 'Cookie:oraclelicense=accept-securebackup-cookie' -o {{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip {{ oracle_jce7_url }}
  args:
    creates: "{{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip"
  when: oracle_java_version == 7
  notify: lnx_download_jar

- name: extract jce zip file
  command: unzip -j {{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip -d {{ jce_location }}
  args:
    creates: "{{ jce_location }}/local_policy.jar"

- block:
  - name: create symlinks to jce files
    file:
      src: "{{ jce_location }}/{{ item }}"
      dest: "{{ ansible_env.JAVA_HOME }}/jre/lib/security/{{ item }}"
      force: yes
      state: link
    register: symlinks
    with_items:
      - local_policy.jar
      - US_export_policy.jar
  rescue:
  - name: create symlinks to jce files via oracle_java_home variable
    file:
      src: "{{ jce_location }}/{{ item }}"
      dest: "{{ oracle_java_home }}/jre/lib/security/{{ item }}"
      force: yes
      state: link
    with_items:
      - local_policy.jar
      - US_export_policy.jar
    when: "'JAVA_HOME' in symlinks.msg"

- block:
  - name: check if jce is enabled
    shell: >
      {{ ansible_env.JAVA_HOME }}/bin/jrunscript -e 'print (javax.crypto.Cipher.getMaxAllowedKeyLength("RC5") >= 256);'
    register: jce
    changed_when: False
  rescue:
  - name: install by using oracle_java_home variable
    shell: >
      {{ oracle_java_home }}/bin/jrunscript -e 'print (javax.crypto.Cipher.getMaxAllowedKeyLength("RC5") >= 256);'
    register: jce
    changed_when: False
    when: "'JAVA_HOME' in jce.msg"

- name: set a jce fact
  set_fact:
    jce_enabled: "{{ jce.stdout }}"

- assert:
    that:
      - jce_enabled == true
