---
# tasks file for ansible-java
- name: collect facts
  setup:
  become: no

- name: include vars
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts['os_family'] | lower }}.yml"
    - default.yml
  vars:
    ansible_search_path:
      - "{{ role_path }}/vars"

- name: output facts
  debug:
    var: ansible_facts['os_family']

- include_tasks: "tasks/query-adoptium-jdk.yml"

- include_tasks: "tasks/{{ ansbile_facts['os_family'] }}_jce.yml"
  when: require_jce
