---
# tasks file for ansible-java
- name: Collect facts
  ansible.builtin.setup:
  become: false

- name: Include vars
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts['os_family'] | lower }}.yml"
        - default.yml
      paths:
        - "{{ role_path }}/vars"

- name: Output facts
  ansible.builtin.debug:
    var: ansible_facts['os_family']

- name: Include linux-base role
  ansible.builtin.include_role:
    name: linux-base
  when: ansible_facts['system'] == 'Linux'

- name: Include systemd-resolved tasks
  ansible.builtin.include_tasks: "tasks/systemd-resolved.yml"
  when: ansible_facts['system'] == 'Linux'

- name: Include packages tasks
  ansible.builtin.include_tasks: "tasks/packages.yml"
  when: ansible_facts['system'] == 'Linux'

- name: Include Linux Java installation tasks
  ansible.builtin.include_tasks: "tasks/install-Linux-java.yml"
  when: ansible_facts['system'] == 'Linux'

- name: Include Windows Java installation tasks
  ansible.builtin.include_tasks: "tasks/install-Windows-java.yml"
  when: ansible_facts['os_family'] == 'Windows'
