---
# tasks file for ansible-java
- name: collect facts
  setup:
  become: no

- include_vars: "{{ ansible_system }}.yml"
- include_vars: "{{ ansible_os_family }}.yml"

- name: output facts
  debug:
    var: ansible_os_family

- name: install python-pip for RedHat 6
  include_role:
    name: install-python-pip
  vars:
    yum_epel_repo: http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm
  when: ansible_distribution_major_version == "6"

- include: "tasks/install-{{ ansible_os_family }}-java.yml"
  when: require_oracle_java

- include: "tasks/{{ ansible_system }}_jce.yml"
