---
# tasks file for ansible-java
- name: collect facts
  setup:
  become: no

- include_vars: "{{ ansible_system }}.yml"
- include_vars: "{{ ansible_os_family }}.yml"

- name: output facts
  debug:
    var: ansible_os_family

- include_tasks: "tasks/install-{{ ansible_os_family }}-java.yml"
  when: require_oracle_java

- include_tasks: "tasks/{{ ansible_system }}_jce.yml"
  when: require_jce
