---
# tasks file for ansible-java
- name: collect facts
  setup:
  become: no

- name: include vars
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts['os_family'] | lower }}.yml"
        - default.yml
      paths:
        - "{{ role_path }}/vars"

- name: output facts
  debug:
    var: ansible_facts['os_family']

- include_tasks: "tasks/systemd-resolved.yml"
  when: ansible_facts['system'] == 'Linux'

- include_tasks: "tasks/packages.yml"
  when: ansible_facts['system'] == 'Linux'

- include_tasks: "tasks/install-Linux-java.yml"
  when: ansible_facts['system'] == 'Linux'

- include_tasks: "tasks/install-Windows-java.yml"
  when: ansible_facts['os_family'] == 'Windows'
