---
- name: create jce path
  set_fact:
    jce_location: "{{ oracle_jce_home }}-{{ oracle_java_version }}"

- name: create jce home
  win_file:
    path: "{{ jce_location }}"
    state: directory
  become: no

- name: download oracle_jce {{ oracle_java_version }}
  win_shell: curl -L -H 'Cookie:oraclelicense=accept-securebackup-cookie' {{ oracle_jce_url }} -o {{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip
  args:
    creates: "{{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip"
  when: oracle_java_version == "8"
  become: no

- name: download oracle_jce 7
  win_shell: curl -L -H 'Cookie:oraclelicense=accept-securebackup-cookie' {{ oracle_jce7_url }} -o {{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip
  args:
    creates: "{{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip"
  when: oracle_java_version == "7"
  become: no

- name: extract jce zip file
  win_unzip:
    src: "{{ oracle_jce_download_location }}"
    dest: "{{ jce_location }}"
    creates: "{{ jce_location }}/local_policy.jar"
  become: no

- name: create symlinks to jce files
  file:
    src: "{{ jce_location }}/{{ item }}"
    dest: "{{ ansible_env.JAVA_HOME }}/jre/lib/security/{{ item }}"
    force: yes
    state: link
  with_items:
    - local_policy.jar
    - US_export_policy.jar
  when: ansible_system == "Linux"
  become: no

- name: check if jce is enabled
  shell: >
    {{ ansible_env.JAVA_HOME }}/bin/jrunscript -e 'print (javax.crypto.Cipher.getMaxAllowedKeyLength("RC5") >= 256);'
  register: jce
  changed_when: False
  become: no

- name: set a jce fact
  set_fact:
    jce_enabled: "{{ jce.stdout }}"

- assert:
    that:
      - jce_enabled == true
