---
- name: Create JCE path
  ansible.builtin.set_fact:
    jce_location: "{{ oracle_jce_home }}-{{ oracle_java_version }}"

- name: Create JCE home
  ansible.windows.win_file:
    path: "{{ jce_location }}"
    state: directory
  become: false

- name: Download Oracle JCE {{ oracle_java_version }}
  ansible.windows.win_get_url:
    url: "{{ oracle_jce_url }}"
    dest: "{{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip"
    headers:
      Cookie: oraclelicense=accept-securebackup-cookie
    validate_certs: false
  register: download
  when: oracle_java_version == 8
  notify: win_download_jar
  become: false

- name: Download Oracle JCE 7
  ansible.windows.win_get_url:
    url: "{{ oracle_jce7_url }}"
    dest: "{{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip"
    headers:
      Cookie: oraclelicense=accept-securebackup-cookie
    validate_certs: false
  when: oracle_java_version == 7
  register: download
  notify: win_download_jar
  become: false
