---
# handlers file for ansible-java
- name: remove distributed jce files
  win_file:
    path: '{{ ansible_env.JAVA_HOME }}\jre\lib\security\{{ item }}'
    state: absent
  with_items:
    - local_policy.jar
    - US_export_policy.jar
  become: no
  listen: download_jar

- name: create symlinks to jce files
  win_shell: cmd /c mklink "{{ ansible_env.JAVA_HOME }}\jre\lib\security\{{ item }}" "{{ jce_location }}\{{ item }}"
  with_items:
    - local_policy.jar
    - US_export_policy.jar
  become: no
  listen: download_jar
