---
# handlers file for ansible-java
- name: remove distributed jce files
  win_file:
    path: '{{ ansible_env.JAVA_HOME }}\jre\lib\security\{{ item }}'
    state: absent
  with_items:
    - local_policy.jar
    - US_export_policy.jar
  become: no
  listen: win_download_jar

- name: extract jce zip file
  win_command: unzip -j {{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip -d {{ jce_location }}
  args:
    creates: "{{ jce_location }}/local_policy.jar"
  become: no
  listen: win_download_jar

- name: create symlinks to jce files
  win_shell: cmd /c mklink "{{ ansible_env.JAVA_HOME }}\jre\lib\security\{{ item }}" "{{ jce_location }}\{{ item }}"
  with_items:
    - local_policy.jar
    - US_export_policy.jar
  become: no
  listen: win_download_jar

- name: extract jce zip file
  command: unzip -j {{ oracle_jce_download_location }}/jce-{{ oracle_java_version }}.zip -d {{ jce_location }}
  args:
    creates: "{{ jce_location }}/local_policy.jar"
  listen: lnx_download_jar

- name: set jar file permissions
  file:
    path: "{{ jce_location }}/{{ item }}"
    state: file
    mode: "0755"
  with_items:
    - local_policy.jar
    - US_export_policy.jar
  listen: lnx_download_jar

- name: create symlinks to jce files
  file:
    src: "{{ jce_location }}/{{ item }}"
    dest: "{{ ansible_env.JAVA_HOME }}/jre/lib/security/{{ item }}"
    force: yes
    state: link
  with_items:
    - local_policy.jar
    - US_export_policy.jar
  listen: lnx_download_jar

